*{
    margin: 0;
    padding: 0;
}
/*
color 
white
#000000
#FEFEFE
#FDEE30
*/
.nav1{
    background-color: #FFD62B;
    color: #2D2D2D;
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 1cm;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
}
.img1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 150px;
    margin-bottom: 200px;
}
.a1{
    color: #2D2D2D;
    text-decoration: none;
    margin-left: 70px;
    margin-top: 10px;
}
.a1:hover{
    color: #2D2D2D;
    text-decoration: underline;
}
.a2{
    color: black;
    text-decoration: none;
}
.a3{
    color: yellow;
    text-decoration: none;
}
.b1{
    background-color: white;
    color: #161F6D;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-left: 200px;
}
.b2{
    background-color: #2D2D2D;
    color: #FFFFFF;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-left: 50px;
}
.div1{
    background-color: #E6FCFF;
    text-align: left;
    padding: 50px;
}
h1{
    padding-top: 3cm;
    color: black;
    font-size: 70px;
}
h3{
    margin-top: 30px;
    color: black;
    font-size: 20px;
}
h2{
    margin-top: 30px;
    text-align: center;
    color: black;
    font-size: 40px;
}
.b4{
    height: 60px;
    width: 200px;
    border: solid 2px #2D2D2D;
    border-radius: 30px;
    box-shadow: 0 0 50px 0 #2D2D2D;
    margin-left: 24.5cm;
    margin-top: 2cm;
    background-color: #FFD62B;
    text-align: center;
}
.a3{
    color: #FFD62B;
    text-decoration: none;
}
.div2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div4{
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
fieldset{
    width: 320px;
    height: 300px;
    border: solid 3px white;
    border-radius: 10px;
    margin-right: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-top: 2cm;
    background: linear-gradient(#FFFFFF,#FFFFFF);
    box-shadow: 0 0 20px 0 #2D2D2D;
    padding: 20px;
    transition: height 1s;
}
fieldset:hover{
    height: 350px;
}
.h3{
    color: #2D2D2D;
}
.pp{
    margin-top: 1cm;
    color: #2D2D2D;
}
.pp1{
    text-align: right;
    margin-top: 1cm;
}
.aa{
    text-decoration: none;
    color: purple;
    font-weight:bolder ;
}
.nav2{
    background-color: #2D2D2D;
    color: white;
    width: 100%x;
    height: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.div3{
    display: table;
}
.sec4{
    display: table-cell;
    vertical-align: middle;
}
.sec5{
    display: block;
}
.p2{
    margin-bottom: 20px;
}
.a4{
    color: white;
    text-decoration: none;
    margin-left: 9cm;
    margin-top: 10px;
    margin-bottom: 3cm;
}
.a4:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}
.a5{
    color: #2D2D2D;
    text-decoration: none;
}
.h4{
    margin-left: 14cm;
    margin-bottom:20px;
}
.in1{
    height: 30px;
    width: 400px;
    border: solid 2px white;
    border-radius: 20px;
    margin-left: 11cm;
}
.b3{
    background-color: white;
    color: black;
    border: solid 2px white;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    margin-left: 11cm;
}
.p3{
    position: fixed;
    right: 0;
    bottom: 0;
}
.img4{
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
.p4{
    margin-left: 9cm;
    margin-top: 1cm;
}
.p3{
    position: fixed;
    right: 0;
    bottom: 0;
}
.img4{
    width: 50px;
    height: 50px;
    border-radius: 10%;
}